{%extends 'user/base/base.html'%}
{%block content%}
<div class="flex flex-col  justify-center items-center p-6 bg-slate-200 rounded-xl space-y-6 w-full">
    <div class="container grid bg-white border-black rounded-md lg:min-h-fit p-6 overflow-x-auto">
        <div class="w-full flex justify-end">
             <a href="{% url 'add_rote' %}" class='btn my-6'>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                  </svg>
                <p class="text-white text-md"> Adicionar Rota</p>                  
             </a>
            </div>
        <table class="table text-black">
            <thead class="text-slate-500">
                <th>ID</th>
                <th>BOX</th>
                <th>ROTA</th>
                <th class="w-44">EDIT</th>
            </thead>

            <tbody class="">
                {% for rota in page_obj.object_list %}
                <tr data-href="{% url 'info_rote' rota.id%}" class="clickable-row hover:bg-slate-200">
                    <th>{{rota.id}}</th>
                    <th>{{rota.box}}</th>
                    <th>{{rota.name}}</th>
                    <th class=" grid grid-cols-2 gap-6">
                        <a href="{% url 'update_rote' rota.id%}" class="btn btn-xs text-white mx-2 px-8"> editar</a>
                        <a class="btn btn-xs text-white mx-2 px-8"> excluir</a>
                    </th>
                </tr>
                {%endfor%}
            </tbody>

        </table>
    </div>
    <!-- PAGINAÇÃO -->
    <div class="flex pagination join justify-center ">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn join-item btn-xs" href="?page=1">&laquo;&laquo; </a>

            {% endif %}
  
            {% for num in page_obj.paginator.page_range %}
                {% if num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'3' %}
                    {% if num == page_obj.number %}
                        <span class="btn join-item btn-xs bg-opacity-50 text-white">{{num}}</span>
                    {% else %}
                        <a class="join-item btn btn-xs" href="?page={{num}}">{{num}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
  
            {% if page_obj.has_next %}
                <a class="btn join-item btn-xs" href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a>
            {% endif %}
        </span>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const rows = document.querySelectorAll("tr.clickable-row");
            rows.forEach(row => {
                row.addEventListener("click", function() {
                    window.location.href = row.getAttribute("data-href");
                });
            });
        });
    </script>
{%endblock%}
