{% extends 'horarios/base/base.html' %}{% block content %}

<div
  class="container flex-col mx-auto p-6 bg-slate-200 rounded-xl my-10 space-y-6"
>
  <h1 class="text-black">ÁREA INSTITUCIONAL</h1>

  <div class="grid auto-rows-auto space-y-10">
    <div class="">
      <div
        class="bg-center bg-cover rounded-md w-full h-96"
        style="background-image: url(https://placehold.co/600x400)"
      ></div>
      <h2 class="mt-4 text-2xl text-black">Historia da Empresa</h2>
      <p class="mt-2 text-sm text-black">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget
        justo congue, pharetra urna ac, lobortis purus. Morbi in interdum odio.
        Praesent in enim ac dui fermentum vehicula eget quis libero. Phasellus
        quis sem consequat, ultricies odio quis, luctus nisl. Fusce
        sollicitudin, velit vitae pulvinar sagittis, ligula quam congue massa,
        nec tempor urna leo vitae arcu. Vivamus facilisis cursus dolor eget
        euismod. Morbi fermentum, odio in porttitor lacinia, elit sapien
        faucibus metus, a rutrum libero nisl nec urna. Donec finibus, dolor ut
        aliquet molestie, massa augue pretium ligula, sagittis vehicula justo
        purus at eros. Aliquam interdum augue quis accumsan condimentum. Nullam
        vulputate orci vitae tincidunt pulvinar. In hac habitasse platea
        dictumst. Vestibulum ut dolor feugiat mauris malesuada imperdiet.
        Aliquam euismod ante eu pretium egestas. Nullam eget ultrices velit.
        Vivamus malesuada lacus sed massa auctor, ac auctor lorem tempor. Morbi
        in odio sit amet lorem efficitur malesuada quis eget ex.
      </p>
    </div>
    <div>
      <div
        class="bg-center bg-cover rounded-md w-full h-96"
        style="background-image: url(https://placehold.co/600x400)"
      ></div>
      <h2 class="mt-4 text-2xl text-black">Historia do Terminal</h2>
      <p class="mt-2 text-sm text-black">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget
        justo congue, pharetra urna ac, lobortis purus. Morbi in interdum odio.
        Praesent in enim ac dui fermentum vehicula eget quis libero. Phasellus
        quis sem consequat, ultricies odio quis, luctus nisl. Fusce
        sollicitudin, velit vitae pulvinar sagittis, ligula quam congue massa,
        nec tempor urna leo vitae arcu. Vivamus facilisis cursus dolor eget
        euismod. Morbi fermentum, odio in porttitor lacinia, elit sapien
        faucibus metus, a rutrum libero nisl nec urna. Donec finibus, dolor ut
        aliquet molestie, massa augue pretium ligula, sagittis vehicula justo
        purus at eros. Aliquam interdum augue quis accumsan condimentum. Nullam
        vulputate orci vitae tincidunt pulvinar. In hac habitasse platea
        dictumst. Vestibulum ut dolor feugiat mauris malesuada imperdiet.
        Aliquam euismod ante eu pretium egestas. Nullam eget ultrices velit.
        Vivamus malesuada lacus sed massa auctor, ac auctor lorem tempor. Morbi
        in odio sit amet lorem efficitur malesuada quis eget ex.
      </p>
    </div>
  </div>
</div>

{% endblock %}
