{% load static %}

<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-slate-400">
    <header class="grid grid-cols-3 w-full h-32">
      <a href="{% url 'index'%}" id="Logo" class="flex justify-center item-center">
        <img src="{% static 'img/logo.png' %}" width="160" alt="My image" />
      </a>
      <div class=""></div>
      <div id="acess_area" class="grid grid-cols-5 gap-10 items-center">
        <div id="" class="col-start-3">
          <a href="{%url 'login'%}" class="btn hover:bg-opacity-50"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
              />
            </svg>
            <p>Colaboradores</p>
          </a>
        </div>
        <div id="" class="col-start-4">
          <a class="btn hover:bg-opacity-50"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"
              />
            </svg>
            <p>FAQ</p>
          </a>
        </div>
      </div>
    </header>
    <nav class="flex justify-center mb-2">
      <h1 class="text-3xl text-bold text-white">Colaboradores</h1>
    </nav>
    {% block content %}

    
    {% endblock %}
    <footer class="grid h-fit w-full grid-cols-3">
      <div class="flex justify-center item-center">
        <img src="{% static '/img/logo.png' %}" alt="logo" width="200" />
      </div>
      <div id="footer_sobre" class="text-black text-center">
        <p class="text-bold text-md">LINKS ÚTEIS</p>
        <div>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
        </div>
      </div>
      <div
        id="footer_credits"
        class="grid grid-rows-4 text-black my-2 text-xs text-start -space-y-2"
      >
        <p>CRIAS</p>
        <p>CNPJ:XX.XXX.XXX/XXXX-XX</p>
        <p>AV EXEMPLO, CEP: XXXXX-XXX</p>
        <p>TELEFONE: (XX)XXXXX-XXXX</p>
        <p>EMAIL: example@example.com</p>
      </div>
    </footer>
  </body>
</html>
