{%extends "./base/base.html"%}{%block content%}

<main id="main_content" class="w-full py-6 mx-auto">
  <div
    class="container flex justify-center mx-auto p-6 bg-slate-200 rounded-xl my-10 space-y-6 rounded-md border border-black"
  >
    <div
      class="container w-full grid-rows-2 text-center justify-center bg-red-500 bg-opacity-30 text-white text-center rounded-md border border-black"
    >
      <span>LOGIN</span>
      <form
        class="grid grid-rows-4 gap-5 justify-center p-8 border border-black rounded-md"
        method="post"
      >
        {% csrf_token%}
        <label for="id_nome" class="form-control max-w-xs placeholder-white">
          <div class="label">
            <span class="label-text text-black text-2xl">Usuário</span>
          </div>
          <input
            id="id_email"
            name="email"
            value="{{form.email.value|default_if_none:''}}"
            class="input input-bordered bg-white text-black"
            type="email"
          />
          {% if form.email.errors %}
          <div class="error">{{ form.email.errors }}</div>
      {% endif %}
        </label>

        <label
          for="id_username"
          class="form-control w-full max-w-xs placeholder-white"
        >
          <div class="label">
            <span class="label-text text-black text-2xl">username</span>
          </div>
          <input
            id="id_username"
            name="username"
            class="input input-bordered bg-white text-black"
            type="text"
            value="{{form.username.value|default_if_none:''}}"
          />
          {% if form.username.errors %}
          <div class="error">{{ form.username.errors }}</div>
          {% endif %}
        </label>

        <label
          for="id_password"
          class="form-control w-full max-w-xs placeholder-white"
        >
          <div class="label">
            <span class="label-text text-black text-2xl">Senha</span>
          </div>
          <input
            id="id_password1"
            name="password1"
            class="input input-bordered bg-white text-black"
            type="password"
            value="{{form.password1.value|default_if_none:''}}"
          />
          {% if form.password1.errors %}
          <div class="error">{{ form.password1.errors }}</div>
          {% endif %}
        </label>

        <label
          for="id_password2"
          class="form-control w-full max-w-xs placeholder-white"
        >
          <div class="label">
            <span class="label-text text-black text-2xl">Senha</span>
          </div>
          <input
            id="id_password2"
            name="password2"
            class="input input-bordered bg-white text-black"
            type="password"
            value="{{form.password2.value|default_if_none:''}}"
          />
          {% if form.password2.errors %}
          <div class="error">{{ form.password2.errors }}</div>
          {% endif %}
        </label>

        <input type="submit" class="btn btn-primary btn-xl" />
      </form>
    </div>
  </div>
</main>

{%endblock%}
